{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="base-font">
  <div class="detail-box text-center">
    <h1>{{ article.title }}</h1>
    <div>{{ article.content }}</div>
  </div>
  <div>
    <div class="comment-btn">댓글</div>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form layout="inline" %}
      {% bootstrap_button button_type="submit" content="작성" %}
    </form>
    {% for comment in article.comment_set.all %}
      <div class="my-3">{{ comment.content }}
        <!-- <a href="{% url 'articles:comment_delete' article.pk comment.pk %}">
          <button class="btn btn-secondary">삭제</button>
        </a> -->
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="del" %}
        </form>
      </div>
      {% empty %}
      <div class="mt-3">댓글이 없어요 ㅠ_ㅠ</div>
    {% endfor %}
  </div>
</div>
{% endblock %}