{% extends 'base.html' %}
{% block content %}
<div class="text-center base-font">
  <p>{{ request.user.username }}</p>
  <p>{{ request.user.email }}</p>
</div>
<div class="profile">
  <div class="w-100 px-2">
    <h2>My Postings ({{ request.user.article_set.count }})</h2>
    <div class="content-box mt-3">
      {% for article in request.user.article_set.all %}
        <a href="{% url 'articles:detail' article.pk %}">
          <p>{{ article.title }}</p>
        </a>
        {% if request.user.article_set.count != forloop.counter %}
          <hr class="hr">
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="w-100 px-2">
    <h2>My Comments ({{ request.user.comment_set.count }})</h2>
    <div class="content-box">
      {% for comment in request.user.comment_set.all %}
        <a href="{% url 'articles:detail' comment.article_id %}">
          <p>{{ comment.content }}</p>
        </a>
        {% if request.user.comment_set.count != forloop.counter %}
          <hr class="hr">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}