{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
<div class="mt-5">
    {% for movie in movies %}
    <a href="{% url 'movie:detail' movie.pk %}" class="text-decoration-none text-secondary">
        <div class="my-3 border-1 p-3 border border-dark rounded">
            <h4>{{ movie.title }}</h4>{{ movie.running_time|time:'H:i:s' }}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}