@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: aliceblue;
}

.ball-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.ball-div {
  height: 100%;
  padding: .7rem 1rem;
  background-color: white;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
}
.ball {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: .7rem;
  border-radius: 50%;
  /* 컨텐츠 중앙, 수직 정렬 */
  text-align: center;
  line-height: 8rem;
  /* 폰트 정리 */
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  filter: blur(5px);
  z-index: 2;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.button-container {
  text-align: center;
}

.button-container>button {
  background-color:rgb(255, 237, 135);
  padding: .8rem 1rem;
  border-radius: 3rem;
  border: 1px solid black;
}

.button-container>button:hover {
  background-color: gold;
}

/* 1000보다 작을 때 */
@media (max-width: 1000px) {
  h1 {
    font-size: 3.2vw;
  }
  .ball-container {
    margin: 3.2000vw 0;
  }
  .ball-div {
    height: 100%;
    padding: 1.1200vw 1.6000vw;
    border-radius: 160.0000vw;
  }
  .ball {
    width: 12.8000vw;
    height: 12.8000vw;
    margin: 1.1200vw;
    line-height: 12.8000vw;
    /* 폰트 정리 */
    font-size: 3.2vw;
    text-shadow: -0.1000vw 0 black, 0 0.1000vw black, 0.1000vw 0 black, 0 -0.1000vw black;
  }
  .button-container>button {
    padding: 1.2800vw 1.6000vw;
    border-radius: 4.8000vw;
    border: 0.1000vw solid black;
    font-size: 1.6vw;
  }
}