{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="base-font">
  <div class="detail-box text-center">
    <!-- 작성자 프로필 -->
    <div>
      <a href="{% url 'accounts:profile' article.user.pk %}" class="text-decoration-none">{{ article.user }}</a>
    </div>
    <h1>{{ article.title }}</h1>
    <div>{{ article.content }}</div>
    {% if article.image %}
      <img src="{{ article.image.url }}">
    {% endif %}
    <form action="{% url 'articles:like' article.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in article.like.all %}
      <input type="submit" value="좋아요 취소">
      {% else %}
      <input type="submit" value="좋아요">
      {% endif %}
      </form>
    {% if article.user == request.user %}
    <div style="margin-top: 2rem; text-align: end;">
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제" class="delete-btn">
      </form>
    {% endif %}
    </div>
  </div>
  <div>
    <hr>
    <!-- 댓글 폼 -->
    <div class="comment-btn mb-3">댓글</div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST" class="mb-3">
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-md-11 col-sm-10">
          {% bootstrap_form comment_form layout="inline" %}
        </div>
        <div class="col-md-1 col-sm-2 text-center p-0">
          <input type="submit" value="작성" class="comment-write-btn">
        </div>
      </div>
      </form>
    {% endif %}
    <!-- 댓글 목록 -->
    <div class="content-box">
      {% for comment in article.comment_set.all %}
        <div class="py-3 px-4 d-flex justify-content-between">
          <div>
            <p>{{ comment.user.username }}</p>
            <p class="ms-3">{{ comment.content }}</p>
          </div>
          {% if comment.user == request.user %}
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제" class="delete-btn">
          </form>
          {% endif %}
        </div>
        {% if forloop.counter != comment.count %}
          <hr class="hr2">
        {% endif %}
        {% empty %}
        <div class="py-3 px-4">댓글이 없어요 ㅠ_ㅠ</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}