@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
}
.banner {
  color: white;
  background-color: #393939;
}
.box {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2rem;
  margin: 1rem 0;
}

.button {
  background-color: rgb(197, 197, 197);
}

.register {
  color: white;
}
.register:hover {
  color: rgba(256, 256, 256, 0.7);
}

.types {
  background-color: rgb(218, 226, 233);
  padding: 0.2rem 0.4rem;
  border-radius: 2rem;
  display: inline-block;
  margin: 0
}