{% extends 'base.html' %}
{% block content %}
<div class="cont shadow">
  <h1 class="text-center my-4">Edit Plan</h1>
  <form action="{% url 'todos:detail_edit' todo.pk %}">
    <div class="input-group mb-3 cklist">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default">할 일</span>
      <input type="text" maxlength="80" value="{{ todo.content }}" name="content" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3 cklist">
      <label class="input-group-text fw-bold" for="inputGroupSelect01">우선 순위</label>
      <select name="priority" class="form-select" id="inputGroupSelect01">
        <option value="{{ todo.priority }}" selected>{{ todo.priority }}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    
    <div class="input-group mb-3 cklist">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default">마감 기한</span>
      <input type="date" value="{{ todo.deadline|date:'Y-m-d' }}" min="{{ today }}" name="deadline" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <!--submit 버튼-->
    <div class="input-group mb-4 cklist">
      <button type="submit" class="btn btn-primary w-100">수정</button>
    </div>
  </form>
</div>
{% endblock %}